extends layout

block content
	.section#main
		.valign-wrapper.full-h
			.wrapper
				.tit
					h2 ¿Cómo desea ingresar los datos?
				.one
					.inputSel(onclick='showMicrophone()')
						img(src="../images/micBut.svg", alt="", srcset="")
				.none
				.two
					.inputSel(onclick='showInput()')
						img(src="../images/micInput.svg", alt="", srcset="")
	
	.section.start-hidden#User
		.valign-wrapper.full-h.inline
			.wrapper_op
				.tit_op
					h2 Ingrese el conjunto de valores dicretos
				.funSel
					.switch
							label
								| f(n)
								input(type='checkbox' id='fnSelector')
								span.lever
								| g(n)
				.one_op
					p.title Conjunto A
					.input-field
						input.validate(placeholder='Ej = {1 2 3 4 (5) 6 7 8 9}' type='text' id='fn')
						label(for='fn') Conjunto de valores
					.input-field
						.switch
							label
								| ¿Es periódica?  No
								input(type='checkbox' id='perioA')
								span.lever
								|       Sí
					p.title Conjunto B
					.input-field
						input.validate(placeholder='Ej = {1 2 3 4 (5) 6 7 8 9}' type='text' id='gn')
						label(for='gn') Conjunto de valores
					.input-field
						.switch#periodica
							label
								| ¿Es periódica?  No
								input(type='checkbox' id='perioB')
								span.lever
								| Sí
					p.title Valor de K
					.input-field
						input.validate(placeholder='Ej = 2' type='number' id='k')
						label(for='k') Para la función fn o gn según se elija en el siwtch de arriba
					.input-field
						.switch#periodica
							label
								| ¿Es periódica?  No
								input(type='checkbox' id='perioB')
								span.lever
								| Sí
					p.title Tipo de interpolación
						form.flowHorizontal#inteTypye(onchange='typeInter()')
							p 
								label
									input.with-gap(name='group1' type='radio' checked='' value ='S' )
									span Escalón
							
							p 
								label
									input.with-gap(name='group1' type='radio' value='Z')
									span Zero
							p
								label
									input.with-gap(name='group1' type='radio' value='L')
									span Lineal

				.options_op
					.inputSel(onclick='suma()')
						img(src="../images/suma.svg", alt="", srcset="")
					.inputSel(onclick='resta()')
						img(src="../images/resta.svg", alt="", srcset="")
					.inputSel(onclick='mul()')
						img(src="../images/mul.svg", alt="", srcset="")
					.inputSel(onclick='convol()')
						img(src="../images/convol.svg", alt="", srcset="")
				.options_o2
					.inputSel(onclick='despl()')
						img(src="../images/despl.svg", alt="", srcset="")
					.inputSel(onclick='ampl()')
						img(src="../images/ampl.svg", alt="", srcset="")
					.inputSel(onclick='neq()')
						img(src="../images/neq.svg", alt="", srcset="")
					.inputSel(onclick='diez()')
						img(src="../images/diez.svg", alt="", srcset="")
					.inputSel(onclick='inter()')
						img(src="../images/inter.svg", alt="", srcset="")
				.res_op
					h5#respuesta
				#plot.plot()

	.section.start-hidden#Mic
		.valign-wrapper.full-h.inline
			.wrapper_mic
				.tit_mic
					h2 Da click al icono para iniciar a grabar
				.mic
					.inputSel(onclick='startRecording()')
						img(src="../images/micBut.svg", alt="", srcset="" id='startRecording')
					.inputSel(onclick='playRecording()')
						img(src="../images/PlayU.svg", alt="", srcset="" id='playRecording')
				.options_mic
					.inputSel(onclick='diezMic()')
						img(src="../images/diez.svg", alt="", srcset="")
					.inputSel(onclick='interMic()')
						img(src="../images/inter.svg", alt="", srcset="")
					.inputSel(onclick='neqMic()')
						img(src="../images/neq.svg", alt="", srcset="")
				.sliders
					p#range-field
						h5 Diezmación
						input(type="range" id="diez" min="1" max="4" step="0.1")
					p#range-field
						h5 Interpolación
						input(type="range" id="inter" min="0.1" max="1" step="0.1")
