extends layout

block content
	.section#main
		.valign-wrapper.full-h
			.wrapper
				.tit
					h2 ¿Cómo desea ingresar los datos?
				.one
					.inputSel(onclick='showMicrophone()')
						img(src="../images/micBut.svg", alt="", srcset="")
				.none
				.two
					.inputSel(onclick='showInput()')
						img(src="../images/micInput.svg", alt="", srcset="")
	.section.start-hidden#User
		.valign-wrapper.full-h
			.wrapper_op
				.tit_op
					h2 Ingrese el conjunto de valores dicretos
				.one_op
					p.title Conjunto A
					.input-field
						input#setA.validate(placeholder='Ej = {1 2 3 4 (5) 6 7 8 9}' type='text')
						label(for='first_name') Conjunto de valores
					.input-field
						.switch
							label
								| ¿Es periódica?  No
								input(type='checkbox')
								span.lever
								|       Sí
					p.title Conjunto B
					.input-field
						input#setB.validate(placeholder='Ej = {1 2 3 4 (5) 6 7 8 9}' type='text')
						label(for='setB') Conjunto de valores
					.input-field
						.switch#periodica
							label
								| ¿Es periódica?  No
								input(type='checkbox')
								span.lever
								| Sí
				.options_op
					.inputSel(onclick='showMicrophone()')
						img(src="../images/suma.svg", alt="", srcset="")
					.inputSel(onclick='showMicrophone()')
						img(src="../images/resta.svg", alt="", srcset="")
					.inputSel(onclick='showMicrophone()')
						img(src="../images/mul.svg", alt="", srcset="")
					.inputSel(onclick='showMicrophone()')
						img(src="../images/convol.svg", alt="", srcset="")
				.options_o2
					.inputSel(onclick='showMicrophone()')
						img(src="../images/despl.svg", alt="", srcset="")
					.inputSel(onclick='showMicrophone()')
						img(src="../images/ampl.svg", alt="", srcset="")
					.inputSel(onclick='showMicrophone()')
						img(src="../images/diez.svg", alt="", srcset="")
					.inputSel(onclick='showMicrophone()')
						img(src="../images/inter.svg", alt="", srcset="")
				