:root {
	--main-color: #d40000;
	--sec-color: #226666;
}

body{
	background: url(../images/BG.svg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h2{
	font-size: 2rem !important;
}

 /* label focus color */
.input-field input:focus + label {
	color: var(--sec-color)!important;;
}

/* label underline focus color */
.input-field input:focus {
	border-bottom: 1px solid var(--sec-color)!important;;
	box-shadow: 0 1px 0 0 var(--sec-color)!important;;
}
.start-hidden{
	display: none;
}

.wrapper > *{
	font-size: 2rem !important;
}

p.title{
	font-size: 1.5rem;
	font-weight: 550;
	margin-left: -25px;
	margin-bottom: 25px;
}

.tit{
	grid-column: auto;
	grid-row: 1;
	width: 50vw;
	text-align: center;
	margin: 0 50px 0 50px; 
	
}

.one {
	grid-column: auto;
	grid-row: 2;
}

.two { 
	grid-column: auto;
	grid-row: 3;
}

a.brand-logo img{
	max-height: 50px;
	margin: .4rem 1px 1px 0;
}

.inputSel{
	cursor: pointer;
}

.inputSel img{
	height: auto;
	width: 100%;
}

.mic img{
	height: auto;
	width: 20vw;
}

.flowHorizontal{
	display: flex;
	align-items: center;
  	justify-content: center;
}

.flowHorizontal p{
	margin-right: 20px;
}

.full-h {
	width: 100%;
	padding: 3% 3%;
	max-width: none;
	height: 90vh;
	display: flex;
	flex: 1; /* formerly flex: 1 0 auto; */
  	align-items: center;
  	justify-content: center;
}

.full-h.inline{
  	align-items: baseline;
}

.tit h1{
	background: rgba(255, 255, 255, 0.8) /* Green background with 30% opacity */  
}
/* Only small */
@media only screen and (max-width: 500px) {
	.full-h{
		height: auto;
	}
}
/* Only for Big */

.wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 10px;
}

.wrapper_op {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 10px;
}

.wrapper_mic {
	display: grid;
	grid-template-columns: 80vw;
	grid-gap: 10px;
}

.one_op{
	padding: 32px;
	background-color: rgba(34, 102, 102, 0.05);
}

@media only screen and (min-width: 500px) {
	.wrapper {
		grid-template-columns: 4fr 1fr 4fr;
	}

	.tit{
		grid-column: 1/4;
		grid-row: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.one {
		grid-column: 1;
		grid-row: 2;
	}
	
	.two { 
		grid-column: 3;
		grid-row: 2;
	}


	.wrapper_op {
		grid-template-columns: 4fr .4fr .4fr;
	}
	
	.tit_op{
		grid-column: 1;
		grid-row: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.funSel{
		grid-column: 2/4;
		grid-row: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	.one_op{
		grid-column: 1;
		grid-row: 2;
	}
	
	.options_op{
		grid-column: 2;
		grid-row: 2/2;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.options_o2{
		grid-column: 3;
		grid-row: 2/2;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	.res_op{
		grid-column: 1/4;
		grid-row: 3;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.plot{
		grid-column: 1/4;
		grid-row: 4;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.wrapper_mic {
		grid-template-columns: 40vw 10vw;
	}

	.tit_mic{
		grid-column: 1/4;
		grid-row: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mic{
		grid-column: 1;
		grid-row: 2;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.options_mic{
		grid-column: 2;
		grid-row: 2;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

}

@media only screen and (min-width:1024px){
	h2{
		font-size: 4rem !important;
	}
}
